<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		title JS Design Patterns
		link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="css/app.css")
	body
		p Hola Edgar
		script(src="./js/app.js")